.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    box-shadow: 3px 4px 15px  #4f74b9;
    border-radius: 5px;
    padding: 1rem;
    width: 400px;
    height: 400px;
    background: #CADCFC
  }
  .login-h2{
    text-align: center;
    padding: 0.5rem; 
    font-size: 3rem;
    color: #00246B;
  }
  .login-form-group {
    margin-bottom: 25px;
  }
  
  .login-label {
    display: block;
    margin-left: 10px;
    color: #00246B;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
    .login-input {
      margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    width: 90%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
  }
  
  .login-btn {
    margin-top: 15px;
    width: 95%;
    margin-left: 10px;
    font-size: 1.2rem;
    padding: 10px;
   background:  #759de6;
    color: #00246B;
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background:  #00246B;
    color: white;
  }
  
  .registration-message{
    color: #00246B;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
  }
  .registration-message span a{
    margin-left: 5px;
    margin-right: 5px;
    color: #00246B;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
  }
  .registration-message span a:hover{
    color: #8AAAE5;;
    cursor: pointer;
  }