.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-form {
    
    box-shadow: 3px 4px 15px  #4f74b9;
    border-radius: 5px; 
    padding: 2rem;
    width: 400px;
    height: 425px;
    background: #CADCFC; 
  }
  .registration-h2{
    text-align: center;
    padding: 0.5rem;
    color: #00246B;
    font-size: 2.5rem;
    
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label{
    display: block;
    color: #303179;
  
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .registration-input{
    font-size: 20px;
    width: 95%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
  }

  .show{
    margin-top: -10px;
    margin-bottom: 16px;
  }
  .show-password{
    color: #00246B;
    font-size: 18px;
    margin: 5px 5px 5px 5px;
  }
  
  .resgistration-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
   background: #759de6;
    color: #00246B;
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .resgistration-btn:hover {
    background: #00246B;
    color: #ffffff;
  }
  
  .login-message{
    margin-top: 1rem;
    color: #00246B;
    font-size: 18px;
    font-weight: 400;
  }
  .login-message span a{
    margin-left: 5px;
    margin-right: 5px;
    color: #00246B;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
  }
  .login-message span a:hover{
    color: #8AAAE5;
    cursor: pointer;
  }

  .password-feild{
    display: flex;
  }

  .password-eye{
    padding-top: 12px;
    padding-right: 10px;
    background: white;
    cursor: pointer;
  }