.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-form {
    background-color: #f9f9f9;
    box-shadow: 3px 3px 10px rgb(47, 196, 255);
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    background: rgb(65, 196, 248)
  }
  .registration-form h2{
    text-align: center;
    padding: 0.5rem;
    color: #fafafa;
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    color: cornsilk;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .registration-input{
    width: 90%;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
  }

  .show{
    margin-top: -10px;
    margin-bottom: 16px;
  }
  .show-password{
    color: #fff;
    font-size: 14px;
    margin: 5px 5px 5px 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
   background: rgb(40, 158, 255) ;
    color: #fff;
    border: none;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background: rgba(25, 100, 199, 0.774);
  }
  
  .login-message{
    color: #ffffff;
    font-size: 14px;
  }
  .login-message span a{
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
  }
  .login-message span a:hover{
    color: #000000;
    cursor: pointer;
  }