@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
 margin: 0%;
 padding: 0%;
}

body{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

background:#EDF4F2

}

main {
  height: 80vh; 
  margin-top: 2rem; 
  margin-bottom: 2rem; 
  display: flex; 
  gap: 2rem; 
}